body {
    font-family: "Open Sans", sans-serif;
  }
  #about_outer-div {
    width: 85%;
    margin: auto;
  }
  #about_outer-div > h1 {
    text-align: center;
    color: dodgerblue;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #about_inner_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #image-div {
    width: 28%;
  }
  #image-div > div {
    width: 100%;
    margin: 0 0 5px 0;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(207, 202, 202);
  }

  #image-div > div > img {
    width: 100%;
  }

  #first_div h2,
  p {
    color: rgb(58, 56, 56);
  }
  #first_div > p {
    font-size: 14px;
  }
  #detail-div {
    width: 65%;
  }
  #detail-div > div > h1,
  p {
    color: gray;
    font-weight: lighter;
    margin: 20px 0 20px 0;
  }
  #detail-div > div > p {
    font-size: 15px;
  }