@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* FORM CSS By Majid Sayyed */
* {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  }
h1{
    font-weight: 380;
    text-align: center;
    font-size:44px;
}
#mainBox{
    height:1466.32px;
    width: 773.99px;
    border: 0px dashed gray;
    margin: auto;
    background-color:#f5f5f5 ;
}
.content{
    height: 1339.76px;
    width: 618.02px;
    border: 0px solid lightcoral;
    margin: auto;
}
label{
    height:108.22px;
    width:24.44px;
    color: #777777;
    font-size: 20px;
}
input{
    height: 17.99px;
    width: 558.02px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 7px;
    margin-bottom: 20px;
    
}
.select1 , .select2 , .select3{
    border: 0px dashed red;
    margin-bottom: 20px;
}
#optionsDiv{
    height: 200px;
    width: 200px;
    border: 0px solid thistle;
    display: grid;
}
.ip1{
    height: 12.22px;
    width: 12.22px;
    margin: 4px 5px 0px 0px;
    margin-bottom: 7px;
}
.sp1 , .sp2{
    height: 21.11px;
    width: 74.48px;
    color: #777777;
    font-size: 20px;
}
button{
    height:38px;
    width:90%;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 5px;
    background:#784882;
    color: white;
    font-family: sans-serif;
    font-size: 19px;
}

