/************LINKED TO INDEX.HTML *********/

/* *********PRODUCT CODE:BY PARVEJ***********START***** */
body {
  width: 90%;
  margin: 20px auto;
}
#products {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#products .product-div {
  width: 150px;
}
#products .product-image {
  width: 100px;
}
#products .product-div .product-title {
  color: #585858;
  font-size: 14px !important;
  font-weight: 800 !important;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#products .product-div .product-price {
  font-size: 2rem;
  color: #444;
}
/* *********PRODUCT CODE:BY PARVEJ***********END***** */
