@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/************LINKED TO INDEX.HTML *********/
 /* *********PRODUCT CODE:BY PARVEJ***********START***** */

body {
  width: 90%;
  margin: 0;

  width: 100%;
  margin: 0 auto;

  padding: 0;
  scroll-behavior: smooth;
}
#products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 25px;
  /* padding: 20px; */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#products-section {
  padding: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#products .product-div .imgDiv {
  display: block;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin: auto;
}
#products .product-image {
  width: 100%;
  display: flex;
}
#products .product-div .product-title {
  color: #585858;
  font-size: 16px !important;
  font-weight: 800 !important;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
  height: 50px;
}
#products .product-div .product-price {
  font-size: 25px;
  color: #444;
  font-weight: 600;
  text-align: center;
  color: #08c;
}
#products .product-div .cartBtn,a{
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  white-space: nowrap;
  line-height: 30px;
  padding: 5px 8px 0 8px;
  border-radius: 5px;
  font-weight: 400;
  text-decoration: none;
}
#products .product-div a {
  background-color: #fff;
  border: 1px solid #ccc;
}
#products .product-div .cartDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: relative;
}
#products .product-div:hover .cartDiv > .cartBtn {
  background: #08c;
  border: 1px solid #08c;
  color: white;
}
#products .product-div .cartDiv .fa-heart {
  color: red;
  font-size: 25px;
  margin-right: 10px;
  border-color: red;
  position: absolute;
  z-index: 1;
  display: none;
}
#products .product-div .cartDiv .fa-signal {
  border-color: #52b9b5;
  font-size: 20px;
  color: #52b9b5;
  margin-left: 10px;
  position: absolute;
  z-index: 2;
  display: none;
}
#products .product-div:hover .cartDiv > .fa-signal {
  position: unset;
  z-index: unset;
  display: inline-block;
}
#products .product-div:hover .cartDiv > .fa-heart {
  position: unset;
  z-index: unset;
  display: inline-block;
}
#products .product-div .ratingDiv {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#products .product-div .ratingDiv .line {
  width: 20%;
  height: 1px;
  background: #c3c5c9;
}
#products .product-div .ratingDiv .rating {
  color: #c3c5c9;
}
@media screen and (max-width: 820px) {
  #products {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, auto);
  }
}
@media screen and (max-width: 620px) {
  #products {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, auto);
  }

 }

#show-Item{
  display: flex;
  gap: 30px;
}
#show-Item .show-item-image-div{
  border: 1px solid #585858;
  padding: 40px;
  border-radius: 5px;
  width: 20%;
}
#show-Item .show-item-image{
  width: 100%;
  display: flex;
}
#show-Item .show-item-title{
  font-size: 30px;
  color: #08c;
  font-weight: bold;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;;
}
#show-Item .show-item-price{
  font-size: 30px;
  color: #08c;
  font-weight: bold;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;;
}
#show-Item .show-item-rating{
  color: #444;
}
#show-Item .show-item-addToCart{
  display:inline-block;
  font-size: 18px;
  background: #08c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
#show-Item .show-item-priceQty-div{
  border: 1px solid black;
  display: flex;
}
#show-Item .show-item-qty{
  width: 40px;
  height: 35px;
  margin: 0 20px 0 0;
  border:2px solid #08c;
  border-radius: 4px;
}

 
 /* CART CODE */
 /* #main-container {
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: -1;
 } */

 #cart {
   position: absolute;
   right: 20px;
   top: 100px;
   z-index: 99999;
   background: white;
   box-sizing: border-box;
   overflow-y: scroll;
   display: none;
   padding: 25px 18px;
   width: 350px;
   height: 400px;
   border-top: 6px solid #08c;
   color: #777;
   border-radius: 8px;
   box-shadow: 0 0 5px rgb(0 0 0 / 25%);
 }

 #cart .cart-item-image-div {
   margin-right: 10px;
   width: 50px;
   height: 50px;
 }

 #cart .cart-item {
   display: flex;
   /* border: 1px solid #777; */
   padding: 5px;
   border-radius: 4px;
 }

 #cart .cart-item-image {
   width: 50px;
   height: 50px;
 }

 #cart .cart-item-title {
   font-size: 15px;
   color: #08c;
   padding: 0;
   margin: 0;
 }

 #cart .cart-item-price {
   margin: 5px 0;
 }

 #cart .cart-item-qty {
   width: 20px;
   height: 20px;
   border-radius: 0;
 }
 #cart #cart-checkOut{
 background-image: none;
 background: #08c;
 border: 1px solid #08c;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
 font-weight: 600;
 padding: 7px 15px;
 font-size: 1.2rem;
 box-sizing: border-box;
 vertical-align: middle;
 font-weight: 400;
 line-height: 22px;
 border-radius: 4px;
 }
 #cart #cart-totalPrice{
   font-size: 25px;
   color: #08c;
 }
 /* #cart .cart-item-Qtydiv{
    padding: 10px;
 } */
 .fa-bag-shopping{
   font-size: 60px;
   color: #08c;
   position: relative;
 }
 #mycart-count{
   font-size: 15px;
   position: absolute;
   font-weight: bold;
   color: #08c;
   z-index: 9999;
 }
 #close-cart{
   position: absolute;
   right: 10px;
   top: 5px;
   color: white;
   font-weight: bold;
   border-radius: 50%;
   padding: 3px 9px;
   border: none;
   background: #08c;
 }
 #close-cart:hover{
    background: dodgerblue;
 }
 #testimonials{
    margin: 30px auto;
    font-family: "Open-sans";
 }
 #testimonials h2{
    margin-left: 30px;
    margin-bottom: 15px;
    color: #777;
 }
 #testimonials #testimonials-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: auto;
    background: #f9f9f9;
 }
 .testimonial-people{
    display: flex;
    padding: 20px;
 }
 #testimonials #testimonials-container .testimonial-people .image{
    margin-right: 10px;
 }
 #testimonials #testimonials-container .testimonial-people .name h3{
    margin-bottom: 10px;
 }
 
 /* *********PRODUCT CODE:BY PARVEJ***********END***** */


 /* *********PRODUCT CODE:BY HARSH***********START***** */


 .colors2 #brands1 > ul {
  display: none;
}

.colors2 #brands1:hover > ul {
  background-color: #08c;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px 20px;
  z-index: 30;
  list-style-type: none;
  position: absolute;
  color: white;
  cursor: pointer;
}
.colors2 #categories1 > ul {
  display: none;
  
}
.colors2 #categories1:hover > ul {
  list-style-type: none;
  background-color: #08c;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 20px 10px;
  gap: 10px 20px;
  z-index: 30;
  color: white;
  cursor: pointer;
  position: absolute;
}


